* {
	cursor: url('resources/neon.png'), pointer;
}

body {
	font-family: "Space Mono", monospace;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	margin: 0;
	background-image: url('resources/star.webp');
	background-repeat: repeat;
	background-size: 200px;
	background-position: center;
	background-attachment: fixed;
}

#play {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	font-family: "Space Mono", monospace;
}

#pause {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	font-family: "Space Mono", monospace;
}

input,
textarea {
	margin: 0 auto;
	width: 100%;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
}

form {
	width: 100%;
	max-width: 500px;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	margin: 0 auto;
}

select {
	border-radius: 4px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

input,
textarea,
#submit {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

h1 {
	text-align: center;
	color: white;
	font-family: "Space Mono", monospace;
	font-size: 3em;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

h5 {
	text-align: center;
	color: white;
	font-family: "Space Mono", monospace;
	font-size: 1em;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
	padding-bottom: 50px;
}

ul {
	text-align: center;
	color: white;
	font-size: 1.5em;
}

ul li {
	list-style: none;
}

input {
	width: 100%;
	max-width: 450px;
}

input:hover {
	cursor: pointer;
}

select:hover {
	cursor: pointer;
}

textarea:hover {
	cursor: pointer;
}


#submit {
	margin: 0 auto;
	width: 96%;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #ccc;
	font-size: 1.5em;
	font-family: "Space Mono", monospace;
}

button:hover {
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 1.5em;
	}

	ul {
		font-size: 0.8em;
		text-align: center;
		max-width: 300px;
	}

	form {
		width: 80%;
		max-width: 80%;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	input[type=text], select, textarea {
		width: 90% !important;
		max-width: 90 !important;
	}

	#submit {
		width: 100%;
	}
}

input,
option,
textarea,
select {
	width: 100%;
	max-width: 450px;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
	padding: 10px;
	border-width:5px;
	border-color: lightgray;
}

input,
textarea,
select,
option,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
option::-webkit-input-placeholder {
	font-family: "Space Mono", monospace;
}





